
body{
font-family:Arial;
background:#f4f4f4;
}

.container{
width:650px;
margin:auto;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px #ccc;
}

button{
background:#e10600;
color:white;
border:none;
padding:10px;
margin:5px;
border-radius:5px;
}

table{
width:100%;
border-collapse:collapse;
}

td,th{
padding:8px;
border-bottom:1px solid #ddd;
}
