
<link rel="stylesheet" href="/static/style.css">
<div class="container">
<h2>Ajouter pronostic</h2>
{% if erreur %}<p style="color:red">{{ erreur }}</p>{% endif %}
<form method="post">
GP<br>
<select name="gp">{% for gp in gps %}<option>{{ gp }}</option>{% endfor %}</select><br><br>
1er<br>
<select name="p1">{% for p in pilotes %}<option>{{ p }}</option>{% endfor %}</select><br><br>
2e<br>
<select name="p2">{% for p in pilotes %}<option>{{ p }}</option>{% endfor %}</select><br><br>
3e<br>
<select name="p3">{% for p in pilotes %}<option>{{ p }}</option>{% endfor %}</select><br><br>
<button>Enregistrer</button>
</form>
</div>
