<h1>Faire un pronostic</h1>

<form method="post">

    <label>Grand Prix :</label><br>
    <select name="gp" required>
        <option value="">-- Choisir un GP --</option>
        {% for gp in gps %}
            <option value="{{ gp }}">{{ gp }}</option>
        {% endfor %}
    </select><br><br>

    <label>1er :</label><br>
    <select name="p1" required>
        {% for pilote in pilotes %}
            <option value="{{ pilote }}">{{ pilote }}</option>
        {% endfor %}
    </select><br><br>

    <label>2
