<h1>Encoder les résultats du Grand Prix</h1>

<form method="POST">

    <label>Grand Prix :</label><br>
    <select name="gp" required>
        <option value="">-- Choisir un GP --</option>
        {% for gp in gps %}
            <option value="{{ gp }}">{{ gp }}</option>
        {% endfor %}
    </select>
    <br><br>

    <label>1er :</label><br>
    <select name="p1">
        {% for p in pilotes %}
            <option value="{{ p }}">{{ p }}</option>
        {% endfor %}
    </select><br>

    <label>2e :</label><br>
    <select name="p2">
        {% for p in pilotes %}
            <option value="{{ p }}">{{ p }}</option>
        {% endfor %}
    </select><br>

    <label>3e :</label><br>
    <select name="p3">
        {% for p in pilotes %}
            <option value="{{ p }}">{{ p }}</option>
        {% endfor %}
    </select><br>

    <label>4e :</label><br>
    <select name="p4">
        {% for p in pilotes %}
            <option value="{{ p }}">{{ p }}</option>
        {% endfor %}
    </select><br>

    <label>5e :</label><br>
    <select name="p5">
        {% for p in pilotes %}
            <option value="{{ p }}">{{ p }}</option>
        {% endfor %}
    </select><br>

    <label>5e :</label><br>
    <select name="p6">
        {% for p in pilotes %}
            <option value="{{ p }}">{{ p }}</option>
        {% endfor %}
    </select><br>

    <label>5e :</label><br>
    <select name="p7">
        {% for p in pilotes %}
            <option value="{{ p }}">{{ p }}</option>
        {% endfor %}
    </select><br>

    <label>5e :</label><br>
    <select name="p8">
        {% for p in pilotes %}
            <option value="{{ p }}">{{ p }}</option>
        {% endfor %}
    </select><br>

    <label>5e :</label><br>
    <select name="p9">
        {% for p in pilotes %}
            <option value="{{ p }}">{{ p }}</option>
        {% endfor %}
    </select><br>

    <label>5e :</label><br>
    <select name="p10">
        {% for p in pilotes %}
            <option value="{{ p }}">{{ p }}</option>
        {% endfor %}
    </select><br>

    <button type="submit">Valider les résultats</button>

</form>

<br>
<a href="/accueil">⬅ Retour accueil</a>
